@model ChangePasswordViewModel

@{
    ViewData["Title"] = "პაროლის ცვლილება";
}

<div class="form-one mt-3">
    <h3>პაროლის ცვლილება</h3>
    <form asp-action="ChangePassword" method="post">
        <div class="form-group mt-4">
            <label asp-for="CurrentPassword" class="control-label">მიმდინარე პაროლი</label>
            <input asp-for="CurrentPassword" class="form-control" type="password" />
        </div>
        <div class="form-group mt-2">
            <label asp-for="NewPassword" class="control-label">ახალი პაროლი</label>
            <input asp-for="NewPassword" class="form-control" type="password" />
        </div>
        <div class="form-group mt-2">
            <label asp-for="ConfirmNewPassword" class="control-label">დაადასტურე ახალი პაროლი</label>
            <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">შეცვლა</button>
        </div>
    </form>
</div>