html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-title {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 25px;
    margin: 20px 0;
    color: #484745;
}

.close {
    border: none;
}

.book-image {
    width: 190px;
}

.form-one {
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 20px;
}

.account-form {
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}