@model RegisterViewModel

<div class="form-one mt-5 mf-3">
    <h3>რეგისტრაცია</h3>
    <form asp-controller="Identity" asp-action="RegisterUser" method="post">
        <div class="form-group mt-3">
            <label for="firstName">სახელი</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required />
        </div>
        <div class="form-group mt-3">
            <label for="lastName">გვარი</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required />
        </div>
        <div class="form-group mt-3">
            <label for="regUserName">მომხმარებლის სახელი</label>
            <input type="text" class="form-control" id="regUserName" name="userName" required />
        </div>
        <div class="form-group mt-3">
            <label for="email">ელ. ფოსტა</label>
            <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <div class="form-group mt-3">
            <label for="regPassword">პაროლი</label>
            <input type="password" class="form-control" id="regPassword" name="password" required />
        </div>
        <div class="form-group mt-3">
            <label for="confirmPassword">პაროლის დადასტურება</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
        </div>
        <button type="submit" class="btn btn-primary mt-4">რეგისტრაცია</button>
    </form>
</div>
<br />
<br />